/* NAVBAR */
.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
    font-size: 20px;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* ESTILOS GENERALES */
section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.btn-primary{

    font-size: 1.2rem;
    margin: 20px;
}

/* PRESENTACIÓN */
h1 {
    font-size: 2.5rem; 
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    color:#615151;
}

 .seccion-oscura{
    background-color: black;
    color: #f5f6f7;
 }

 .sobre-mi{
    height: 500px;
    padding: 10px;
 }

 .sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
 }

 .seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: "Boldonse", cursive;
 }

 .seccion-texto{
    font-size: 1.2rem;
 }



.seccion-clara{
    color:#615151;
    background-color: #f5f6f7;
    
}

.principal-hero h2 {
    font-size: 1.5rem;
    color: #615151;
}

/* SECCIÓN HERO */
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

/* HERO PRINCIPAL */
.principal-hero {
    padding: 3rem;
}

/* IMAGEN PRINCIPAL (Redonda y con tamaño fijo) */
.hero-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
}

/* IMAGEN SECUNDARIA (Tamaño adaptable) */
.hero-inferior-imagen {
    max-width: 400px; /* Controla el tamaño máximo */
    width: 100%; /* Se adapta al contenedor */
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Imagen secundaria en pantallas grandes */
@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
}

/* ADAPTABLE RESPONSIVO */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i{
        font-size: 40px;
    }
}








/* EXPERIENCIA */
.experiencia {
    padding: 80px 20px;
    
}

.seccion-titulo {
    font-family: "Boldonse", cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.columna {
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    padding: 25px !important;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.columna:hover {
    transform: translateY(-10px);
}

.bi-code-square, 
.bi-journal, 
.bi-mortarboard {
    font-size: 3rem !important;
    color: #2c3e50 !important;
    margin-bottom: 1rem;
}

.experiencia-titulo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.8rem;
    margin: 15px 0;
}

.badges-contenedor {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: auto;
}

.badge {
    font-size: 0.9rem !important;
    padding: 8px 15px !important;
    border-radius: 20px !important;
    font-weight: 500 !important;
}

/* PROYECTO */
.proyecto {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    width: 80%; /* Ajusta el tamaño de la imagen */
    margin: auto; /* Centra el contenedor */
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-top: 30PX;
}

.proyecto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    opacity: 0.8; /* Agrega transparencia a la imagen */
    
}

.proyecto:hover {
    transform: translateY(-10px);
    
    
}
.proyecto:hover img {
    opacity: 0.6; /* Aumenta la transparencia al pasar el mouse */
}
.proyecto .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: rgba(0, 0, 0, 0.6); */
    color:  #0d6efd;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 1; /* Siempre visible */
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
   
    
}

.overlay .iconos-contenedor{
    /* display: flex; */
    display: flexbox;
}

.overlay i{
    color: #2c3e50;
    font-size: 40px;
    margin: 10px;
    
}

/* ARTICULOS */
.articulos{
    min-height: 500px;
    padding: 30px;
    background-color: #f5f6f7;
}

.articulos .card{
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.articulos .card-header{
    font-weight: bold;
}


/*  TESTIMONIOS  */

.testimonios{
    padding: 40px 40px 80px 40px;
}

.testimonios .carousel{
    max-width: 800px;
}




.carousel-item img {
    max-height: 100%;
    width: auto; /* Mantiene la proporción */
    object-fit: contain; /* Evita cortes en las imágenes */
} 
/* TESTIMONIOS */


 .carousel-item {
    height: 500px; 
    
    align-items: center;
    justify-content: center;
    transition: transform 0.6s ease-in-out !important; /* Suavizar transición */
    
} 

.carousel-item img {

        width: 100%; /* Asegura que ocupe todo el ancho */
        height: 400px; /* Ajusta la altura según necesites */
        object-fit: cover; /* Recorta la imagen para llenar el espacio sin deformarse */
    
    
}

/* TESTIMONIOS - Carrusel */
.carousel {
    max-width: 800px; /* Ancho máximo del carrusel */
    margin: 0 auto; /* Centrar el carrusel */
}



.object-fit-cover {
    object-fit: cover; /* Cubrir espacio sin distorsión */
    object-position: center; /* Centrar imagen */
}


/* CONTACTO */

.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo{
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion{
    color: white;
    font-size: 1.2rem;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border:2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button i{
    color: aliceblue;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}


.contacto button:hover{
    background-color: #f5f6f7;
    color: black;
}

.contacto button:hover i{
    color: black;
}

/* pie de pagina */

footer{
    min-height: 25px;
}

.footer-logo{
    width: 90px;
    margin:10px;
    border-radius: 50%;
}

.footer-text{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: "Quicksand", sans-serif;
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 2px;
    border:2px solid;
    border-color: #f5f6f7;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.iconos-redes-sociales i{
    color: #f5f6f7;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.iconos-redes-sociales a:hover{
    background-color:  #f5f6f7;
    border: 2px solid rgb(13, 110, 253);
}


.iconos-redes-sociales a:hover i{
    color:#2c3e50
    
}

.derechos-autor{
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/* NOMBRES DE PROYECTOS */
.nombre-proyecto {
    text-align: center;
    margin: 15px 0;
    font-size: 1.4rem;
    font-family: "Bebas Neue", sans-serif;
    color: #615151;
    letter-spacing: 1px;
}

/* Ajuste overlay */
.proyecto .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 100%;
}